/* .container {
  width: 30vw;
} */

.btn{
  /* width: 4.5vw; */
  height: 3rem;
  font-size: 1.5rem;
}

h2{
  font-size: 2rem;
}

#teclado{
  height: 15rem;
}

#contenedorPantalla{
  height: 3rem;
}

#btnI {
  height: 90%;
}