.globo {
    position: relative;
    width: 100%;
    background: rgb(47, 203, 112);
}

.globo:before {
    border: 25px solid rgb(47, 203, 112);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: 20%;
}

#circulo {
    background: rgb(221, 221, 221);
    height: 1.5vw;
    width: 1.5vw;
}

#porcentaje {
    font-size: 4rem;
}

#caja-codigo {
    background: rgb(44, 61, 80);
    color: rgb(14, 171, 140);
    height: 5rem;
    font-size: 0.8rem;
}

#codigo {
    color: yellow;
}